.PixelsGrid {
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
  user-select: none;
  flex: 1;
  cursor: cell;
}

.PixelsGridItem {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 2px solid transparent;
  margin: .5px;
  background-color: rgba(255,255,255, .1);
  transition: border .2s;
}
.PixelsGridItem:hover {
  transition: none;
  border: 2px #ffdb76 solid;
  /* cursor: crosshair; */

}

.itemsRow {
  display: flex;
}